<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="style" href="style.css"> 
    <title>Document</title>
</head>
<body>
    
    <header class="header-main-container">
        <nav class="navbar">
            <ul>
                <li><a href="HTML">HTML</a></li>
                <li><a href="TAILWIND">TAILWIND</a></li>
                <li><a href="FRAMEWORKS">FRAMEWORKS</a></li>
                <li><a href="DEVELOPMENT">DEVELOPMENT</a></li>
                <li><a href="SVG">SVG</a></li>
                <li><a href="CDN">CDN</a></li>
                <li><a href="ARIA">ARIA</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section>

            <article>
                <img src="/assets/images/Schoun.jpg" alt="Libro 1">
                <h5>De la unidad trascendente de las religiones</h5>
                <h3>Helping your website get googly-eyed</h3>
                <p>
                    Make Google do a double-take with Tailwind CSS's SEO magic. It's like giving your website
                </p>
                <h5>Animation CDN</h5>
            </article>

            <article>
                ><img src="/assets/images/Mircea.jpg" alt="Libro 2">
                <h5>Nostalgia</h5>
                <h3>Because writing vanilla JS is so last season</h3>
                <p>
                    Tired of vainilla JS? Spice up your coding life with astro.js. It's the haute couture of
                </p>
                <h5>CDN ARIA</h5>
            </article>

            <article>
                <img src="/assets/images/Heidegger.jpg" alt="Libro 3">
                <h5>¿Qué significa pensar?</h5>
                <h3>Tailwind CSS and astro.js the dynamic duo of web development</h3>
                <p>
                    Join forces with the dynamic duo of web development-Tailwind CSS and astro.js
                </p>
                <h5>Animation SVG</h5>
            </article>

        <section>

            <article>
                <img src="/assets/images/Evola.jpg" alt="Libro 4">
                <h5>La metafísica del sexo</h5>
                <h3>Making static sites less static, more fantastic</h3>
                <p>
                    Say goodbye to static boredom with astro.js. This framework brings life to static sites
                </p>
                <h5>Development Tailwind</h5>
            </article>
                
            <article>
                <img src="/assets/images/Dosto.jpg" alt="Libro 5">
                <h5>Los hermanoz Karamázov</h5>
                <h3>Where utility-firts meets fashion-firts</h3>
                <p>
                    Unleash your inner fashionista as we explore Tailwind CSS-the runway-ready framework
                </p>
                <h5>Frameworks Development</h5>
            </article>

            <article>
                <img src="/assets/images/Camus.jpg" alt="Libro 6">
                <h5>La peste</h5>
                <h3>Because the universe needed a framework</h3>
                <p>
                    Embark on a cosmic journey with astro.js, the framework that makes interstellar
                </p>
                <h5>HTML Tailwind</h5>
            </article>

        </section>

        <section class="section-three">

            <form>
                <input type="text" placeholder="Enter your email">
                <button type="submit">Subscribe</buttont>
            </form>

        </section>

    </main>

    <footer>

        <P>
            &COPY; 2024 Lexington Themes. All rights reserved. <u><b>Lexington Themes</b></u> is not affiliated with Astro or  Tailwind Labs team,  nor is it endorsed by or sponsored by these ones. A free  template  by <u><b>Michael Andreuzza</b></u>This website was built with Astro & Tailwind. Crafted in Aland islands, Finland.
        </P>

    </footer>

</body>
</html>